.Home {
  z-index: 100;
  width: 300px;
  margin-left: calc(100% - 1350px);
}

@media only screen and (max-width: 1700px) {
  .Home {
    z-index: 100;
    width: 300px;
    margin-left: calc(100% - 1250px);
  }
}

@media only screen and (max-width: 1500px) {
  .Home {
    z-index: 100;
    width: 300px;
    margin-left: calc(100% - 1050px);
  }
}

@media only screen and (max-width: 1300px) {
  .Home {
    z-index: 100;
    width: 300px;
    margin-left: calc(100% - 950px);
  }
}

@media only screen and (max-width: 1100px) {
  .Home {
    z-index: 100;
    width: 300px;
    margin-left: calc(100% - 700px);
  }
}

@media only screen and (max-width: 1000px) {
  .Home {
    z-index: 100;
    width: 300px;
    margin-left: auto;
    margin-top: 100px;
    visibility: hidden;
  }
}
